MedicalGPT/

# Generated data pipeline artifacts
# /data_pipeline/data/work/
/data_pipeline/data/final/

# Python
__pycache__/
*.py[cod]
*$py.class

/data_pipeline/test.json
tests/
!/data_pipeline/tests/
!/data_pipeline/tests/*.py
